    

<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4 ">TopMebli</h1>
    <% if logged_in? %>
    <h4>Just do it!</h4>
    <% else %>
    <h2>Для получения Vip -кода доступа пиши в  &copy; <%= link_to "Instagram", "https://instagram.com/_ok_nel_set_?igshid=1hpw8a1ojq0sv", class: "text-secondary" %></h2>
    <% end %>
    <hr class="my-4">
    <% if logged_in? %>
    <%= link_to "Login!", pages_course_path, class: "btn btn-dark btn-lg" %>
    <% else %>
    <%= link_to "Регистрация!", signup_path, class: "btn btn-success btn-lg" %>
   <% end %>
   
  </div>
</div>
